<ul class="nav nav-sidebar">
	<li><a href="/index.html">Home</a></li>
	<li class="nav-divider"></li>
	<li><a href="/cases.html">Curious Cases</a></li>
	<li><a href="/questions.html">Questions for Wife and Family</a></li>
	<li><a href="/kill.html">How-to safely kill your husband</a></li>
	<li><a href="/sense.html">How-to sense a troublesome wife early</a></li>
	<li><a href="/tips.html">Tips for MEN</a></li>
	<li><a href="/jokes.html">The plight of a husband - in humor</a></li>
	<li class="nav-divider"></li>
	<li><a href="/disclaimer.html">Disclaimer</a></li>
	<li><a href="/privacy-policy.html">Privacy Policy</a></li>
</ul>
